    <div class="row">
        <div class="col-sm-6 col-md-7  mx-auto">
            <h1 class="text-center login-title">Sign up for Happy Feet!</h1>
            <div class="account-wall animated zoomIn">
                <img class="profile-img" src="https://media.giphy.com/media/uk3IyT1ltbEZdE4HHZ/giphy.gif"
                    alt="" class="">
<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @user do |f|%>
<div class="form-signin">
<div class="wrap-input100 validate-input">
   <div class="form-group">

  <%= f.email_field :email,  :class => "form-control", :placeholder => "Email" %>
  <span class="focus-input100-1"></span>
        <span class="focus-input100-2"></span>
      </div>
 </div>

  <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>

  <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Password confirmation" %>
</div>
 <div class="container-login100-form-btn m-t-20">
  <%= f.submit "Sign up!", :class => "btn btn-lg btn-primary btn-block"  %>
<% end %>
</div>
</div>
   </div>
</div>
