<h1> All categories </h1>

<h1> <%= @animal.name %></h1>

<%= image_tag @animal.image, :alt => @animal.name, :class => 'feature'  %>

<ul>

  <% if @animal.category.present? %>
  <li> <%= link_to @animal.category.name, @animal.category %> </li>
<% end %>
   <li>Age: <%= @animal.age  %> </li>
   <li>Her story: <%= @animal.story  %></li>
</ul>

<div class="controls">
<%= link_to "Edit animals", edit_animal_path(@animal)  %>
  <%= link_to "Delete animal", @animal, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>

</div>
