
<div class="container">
<h1 class="anima_text"> Meet: </h1>
<div class="row">
    <div class="col-md-offset-1 col-md-5">
<h1 class="anim_names"> <%= @animal.name %></h1>

<%= cl_image_tag @animal.image, :alt => @animal.name, :class => 'feature_animal'  %>
</div>
</div>
<ul>


   <li class="anim_stories">Age: <%= @animal.age  %> </li>
   <li class="anim_stories"> <%= @animal.story  %></li>
   <% if @animal.category.present? %>
   <li class="anim_stories" class="move_category"> Click to see other <%= link_to @animal.category.name, @animal.category, :class=> "rounded mx-auto d-block" %> </li>
 <% end %>
</ul>

<!-- <img src="/assets/icons8.png" alt="heart"> -->
<!-- <input type="image" src="/assets/icons8-blue.png" name="heart" class="btTxtfav" id="favForm"/>
<p id="fav"></p> -->



<%= button_to 'favourite', animal_favourites_path(@animal), method: :post, :class => "buttonTo"%>

<% if @current_user.present?  %>
<% pre_favourite = @animal.favourites.find {|favourite| favourite.user_id  == @current_user.id} %>
<% if pre_favourite  %>
<%= button_to 'unfavourite', animal_favourite_path(@animal, pre_favourite), method: :delete%>


<% end  %>

<% end %>

<div class="controls">
<%= link_to "Edit animals", edit_animal_path(@animal)  %>
  <%= link_to "Delete animal", @animal, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>


</div>
</div>
