<!DOCTYPE html>
<html>
  <head>
    <title>Projec1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<nav>

    <%= link_to "Home", root_path %>
<% if @current_user.present? %>
<%= link_to "Edit profile", edit_user_path %>
  <%= link_to "All animals", animals_path %>
    <%= link_to "All Categories", categories_path %>
        <% if @current_user.admin? %>
          <%= link_to "All users", users_path %>
            <%= link_to "All animals", animals_path %>
  <%= link_to "All Categories", categories_path %>
        <% end %>
        <%= link_to "Logout #{ @current_user.email }", login_path, :method => 'delete' %>
      <% else %>
        <%= link_to "Sign up", new_user_path %>
        <%= link_to "Sign in", login_path %>
        <%= link_to "All animals", animals_path %>
          <%= link_to "All Categories", categories_path %>




      <% end %>
<%# moving cat here %>
</nav>

  <body>
    <%= yield %>
  </body>
</html>
